$mainColor: rgb(0, 60, 125);
$gradient1: linear-gradient(
  90deg,
  rgba(0, 60, 125, 1) 0%,
  rgba(0, 84, 176, 1) 8%,
  rgba(0, 84, 176, 1) 92%,
  rgba(3, 70, 106, 1) 100%
);
$gradient2: linear-gradient(
  90deg,
  rgba(0, 60, 125, 1) 0%,
  rgba(176, 214, 255, 1) 4%,
  rgba(176, 214, 255, 1) 96%,
  rgba(3, 70, 106, 1) 100%
);

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: $mainColor;
}

h1 {
    margin-bottom: 8px;
}

h2 {
    margin-top: 12px;
    margin-bottom: 6px;
}
p {
    margin: 6px 0;
    padding: 0 8px;
}
.home-page {
  width: 1024px;
  margin: 0 auto;

}

header {
  background: $mainColor;
  background: $gradient1;
  width: 100%;
  height: 124px;

  h1 {
    font-size: 48px;
    color: #08007D;
    text-align: center;
    padding-top: calc((124px - 48px) / 2);
  }
}

main {
  background: $mainColor;
  background: $gradient2;
  width: 100%;
  height: calc(100vh - 186px);
  padding: 16px 48px;

  .center {
    margin-top: 24px;
    text-align: center;
    font-size: 24px;

    span {
        display: inline-block;
        vertical-align: middle;
        color: #108000;
    }
  }
}

footer {
  background: $mainColor;
  background: $gradient1;
  width: 100%;
  height: 62px;

  p {
    color: #08007D;
    font-size: 14px;
    margin-top: 0;
    text-align: center;
    padding-top: calc((62px - 14px) / 2);
  }
}
